.RentDetailPage {
  .rentdata {
    min-height: 100vh;
    padding-top: 100px;

    .topsection {
      min-height: 350px;
      .card {
        border: none;
      }
      .galleryUtama {
        .card {
          height: 100%;
          background-color: $abu;

          img {
            height: 100%;
            object-position: center;
            object-fit: contain;
          }
        }
      }
      .productdescription {
        position: relative;
        .card {
          height: calc(100% - 38px);
          align-items: center;
        }
        .buttonSection {
          .buttonLove {
            display: flex;
            max-height: 38px;
            align-items: center;
            justify-content: center;

            svg {
              cursor: pointer;
              height: 100%;
            }
          }
        }
      }
    }
    .bottomsection {
      .galleryPendukung {
        margin: 50px 0;
        display: flex;
        .galleryItem {
          justify-content: center;
          height: 100%;
          align-items: center;

          img {
            max-height: 150px;
            height: fit-content;
            width: fit-content;
            max-width: 100%;
          }
        }
      }
    }
  }
}
