.NavAuth {
  width: 100%;
  z-index: 9;
  position: fixed;

  .navbar {
    background-color: $hitam;
  }

  @media only screen and (min-width: 900px) {
    & {
      height: 56px;

      .navbar {
        height: 100%;

        .navbar-brand {
          display: none;
        }
      }
    }
  }
}
